.spaces {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    .title {
      margin-bottom: 20px;
    }
    .subtitle {
      margin-bottom: 10px;
    }
  }
}
