:root {
  --bgc: var(--tg-theme-bg-color);
  --black: var(--tg-theme-secondary-bg-color);
  --blue: var(--tg-theme-button-color);
  --white: var(--tg-theme-text-color);
  --grey: var(--tg-theme-subtitle-text-color);
}
