.loader {
  width: 30px;
  height: 30px;
  border: 4px solid var(--white);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
