.wrapper {
  margin-top: 10px;
  margin-bottom: 80px;
  .panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .noBookings {
    padding: 30px;
    border-radius: 16px;
    background-color: var(--blue);
  }
}
