.wrapper {
  margin-top: 80px;
  margin-bottom: 100px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
  }
}
