.container {
  background-color: var(--blue);
  border-radius: 8px;
  padding: 10px;
  position: fixed;
  right: 20px;
  bottom: 100px;
  cursor: pointer;
  transition: 0.3s;
  animation: pulse 1.3s infinite ease-in-out;

  &:hover {
    scale: 1.05;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    // box-shadow: 0 0 0 rgba(255, 255, 255, 0.088);
  }
  70% {
    transform: scale(1.02);
    // box-shadow: 0 0 8px rgb(255, 255, 255);
  }
  100% {
    transform: scale(1);
    // box-shadow: 0 0 0 rgba(255, 255, 255, 0.132);
  }
}

.success {
  background-color: #007e3d;
}
