.wrapper {
  width: 100%;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  background-color: var(--black);
  border-radius: 16px;

  .btn {
    width: 50%;
    padding: 8px 10px;
    background-color: var(--grey);
    border-radius: 14px;
  }
  .selected {
    background-color: var(--blue);
  }
}
